@import "tailwindcss";
/* Hide scrollbar but keep scroll functionality */
.hide-scrollbar {
  scrollbar-width: none;          /* Firefox */
  -ms-overflow-style: none;       /* IE and Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;                  /* Chrome, Safari */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}
